$light-color: hsl(212, 100%, 99%);
$dark-color: hsl(212, 100%, 10%);
$alert: adjust-saturation(#8a001f, 100%);
$notice: adjust-saturation(#189302, 100%);
$accent1: adjust-saturation(#ecd078, 100%);
$accent2: adjust-saturation(#d95b43, 100%);
$saturation-adjustment: -80%;
$header-height: 45px;
$sidebar-width: 300px;