@font-face {
  font-family: 'Lato Bold';
  src: font-url('Lato-700.woff2') format('woff2'),
       font-url('Lato-700.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold Italic';
  src: font-url('Lato-700i.woff2') format('woff2'),
       font-url('Lato-700i.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Italic';
  src: font-url('Lato-400i.woff2') format('woff2'),
       font-url('Lato-400i.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: font-url('Lato-400.woff2') format('woff2'),
       font-url('Lato-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: font-url('Lato-300.woff2') format('woff2'),
       font-url('Lato-300.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  font-style: normal;
  font-weight: 300;
  src: font-url('Raleway-300.woff') format('woff');
}