<footer>
  Peak Health EHR
  &bull;
  <a href="http://peakehr.com/">peakehr.com</a>
  &bull;
  <%= link_to('need help?', support_path) %>
  <br>
  <span class="diagnostics">Version: <%= CURRENT_VERSION %> &bull; Runtime: <Rack::InlineRuntime></span>
</footer>